.projectsEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.projectsEntry b {
    font-size: larger;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-decoration: underline;
    cursor: pointer;
}

.projectsEntry p {
    margin: 0px;
}


.projectsImg {
    width: -webkit-fill-available;
    cursor: pointer;
}

.technologies {
    margin-top: .5rem;
    display: flex;
}

.technologyDiv {
    display: flex;
    align-items: center;
    background-color: #313131ff;
    padding: .5rem;
    border-radius: 10px;
    margin: .3rem;
} 

.technologyDiv img {
    width: 25px;
    margin-right: .3rem;
}

.technologyDiv p small {
    color: white !important;
    font-weight: bold;
}